{% extends 'base.html' %}

{% block main %}
      <!--=============== HOME ===============-->
      {% include 'components/home.html' %}

      <!--=============== CATEGORIES ===============-->
      {% include 'components/categories.html' %}

      <!--=============== PRODUCTS ===============-->
      {% include 'components/products.html' %}

      <!--=============== DEALS ===============-->
      {% include 'components/deals.html' %}

      <!--=============== NEW ARRIVALS ===============-->
      {% include 'components/new_arrivals.html' %}

      <!--=============== SHOWCASE ===============-->
      {% include 'components/showcase.html' %}

      <!--=============== NEWSLETTER ===============-->
      {% include 'components/showcase.html' %}

{% endblock main %}