   {% load static  %}
    <header class="header">
	    {% if not request.user.is_authenticated %}
	    <div class="header__top">
	        <div class="header__container container">
	          <div class="header__contact">
	            <span>(+01) - 2345 - 6789</span>
	            <span>Our location</span>
	          </div>
	          <p class="header__alert-news">
	            Super Values Deals - Save more coupons
	          </p>
		      <div>
			      <a href="{% url 'login' %}" class="header__top-action">
		            Log In /
		          </a>
			      <a href="{% url 'register' %}" class="header__top-action">
	                Sign Up
			      </a>
		      </div>
	        </div>
	      </div>
	    {% endif %}
      <nav class="nav container">
        <a href="{% url 'index' %}" class="nav__logo">
          <img
            class="nav__logo-img"
            src="../../../static/assets/img/logo.svg"
            alt="website logo"
          />
        </a>
        <div class="nav__menu" id="nav-menu">
          <div class="nav__menu-top">
            <a href="{% url 'index' %}" class="nav__menu-logo">
              <img src="../../../static/assets/img/logo.svg" alt="">
            </a>
            <div class="nav__close" id="nav-close">
              <i class="fi fi-rs-cross-small"></i>
            </div>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url 'index' %}" class="nav__link {% if request.path == '/' %} active-link {% endif %}">Home</a>
            </li>
            <li class="nav__item">
              <a href="{% url 'shop' %}" class="nav__link {% if request.path == '/shop/' %} active-link {% endif %}">Shop</a>
            </li>
            <li class="nav__item">
              <a href="{% url 'accounts' %}" class="nav__link {% if request.path == '/accounts/' %} active-link {% endif %}">My Account</a>
            </li>
            <li class="nav__item">
              <a href="{% url 'compare' %}" class="nav__link {% if request.path == '/compare/' %} active-link {% endif %}">Compare</a>
            </li>
	          {% if not request.user.is_authenticated %}
            <li class="nav__item">
              <a href="{% url 'login' %}" class="nav__link {% if request.path == '/register/' %} active-link {% endif %}">Login</a>
            </li>
	          {% else %}
	          <li class="nav__item">
              <a href="{% url 'log_out' %}" class="nav__link {% if request.path == '/register/' %} active-link {% endif %}">Log out</a>
            </li>
	          {% endif %}
          </ul>
          <div class="header__search">
            <form method='get'>
              <input
                type="text"
                name="q"
                placeholder="Search For Items..."
                class="form__input"
              />
              <button class="search__btn" type="submit">
                <img src="../../../static/assets/img/search.png" alt="search icon" />
              </button>
            </form>
          </div>
        </div>
        <div class="header__user-actions">
          <a href="{% url 'wishlist'%}" class="header__action-btn" title="Wishlist">
            <img src="../../../static/assets/img/icon-heart.svg" alt="" />
            <span class="count">3</span>
          </a>
          <a href="{% url 'get_cart' %}" class="header__action-btn" title="Cart">
            <img src="../../../static/assets/img/icon-cart.svg" alt="" />
            <span class="count count_btn">{{ cart_count }}</span>
          </a>
          <div class="header__action-btn nav__toggle" id="nav-toggle">
            <img src="./assets//img/menu-burger.svg" alt="">
          </div>
        </div>
      </nav>
    </header>