<section class="login-register section--lg">
        <div class="login-register__container container grid">
          <div class="register">
            <h3 class="section__title">Create an Account</h3>
            <form class="form grid" method="post">
	            {% csrf_token %}
	            {{ form }}
<!--              <input-->
<!--                type="text"-->
<!--                name="username"-->
<!--                placeholder="Username"-->
<!--                class="form__input"-->
<!--              />-->
<!--              <input-->
<!--                type="email"-->
<!--                name="email"-->
<!--                placeholder="Your Email"-->
<!--                class="form__input"-->
<!--              />-->
<!--              <input-->
<!--                type="password"-->
<!--                name="password"-->
<!--                placeholder="Your Password"-->
<!--                class="form__input"-->
<!--              />-->
<!--              <input-->
<!--                type="password"-->
<!--                name="password2"-->
<!--                placeholder="Confirm Password"-->
<!--                class="form__input"-->
<!--              />-->
              <div class="form__btn">
                <button class="btn" type="submit">Submit & Register</button>
              </div>
            </form>
          </div>
        </div>
</section>